<!-- Navbar Start  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
    <div class="container justify-content-end">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/angular-logo.png" alt="" width="30" height="30"
                class="d-inline-block align-text-top">
            Question Builder
        </a>
    </div>
</nav>

<div class="container mt-3 mb-3">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <img width="20" height="20" src="../../../assets/images/menu-icon.png" alt="">
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Question Builder</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="rounded-pill bg-primary text-white d-flex justify-content-center align-items-center">
                <h2 class="m-0">Questions</h2>
            </div>
        </div>
    </div>
</div>

<!-- Navbar End  -->


<div class="container">

    <h1>Question Papers</h1>

    <div class="d-flex mb-3">
        <p>Create and manage question papers</p>
        <button routerLink="/add-question" class="btn btn-sm btn-success ms-auto">ADD</button>
    </div>


    <ul class="list-group" *ngFor="let questionPaper of questionPapers">
        <a class="text-uppercase text-decoration-none" routerLink="/question">
            <li class="list-group-item" (click)="onClick(questionPaper)">{{questionPaper.subject}}</li>
        </a>
    </ul>
</div>