<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/angular-logo.png" alt="" width="30" height="30"
                class="d-inline-block align-text-top">
            Question Builder
        </a>
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">

    <h1>Question Papers</h1>

    <div class="d-flex mb-3">
        <p>Create and manage question papers</p>
        <button routerLink="/add-question" class="btn btn-sm btn-success ms-auto">ADD</button>
    </div>


    <ul class="list-group" *ngFor="let questionPaper of questionPapers">
        <a class="text-uppercase text-decoration-none" routerLink="/question">
            <li class="list-group-item" (click)="onClick(questionPaper)">{{questionPaper.subject}}</li>
        </a>
    </ul>
</div>