<!-- Navbar Start  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
    <div class="container justify-content-end">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/angular-logo.png" alt="" width="30" height="30"
                class="d-inline-block align-text-top">
            Question Builder
        </a>
    </div>
</nav>

<div class="container mt-3 mb-3">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <img width="20" height="20" src="../../../assets/images/menu-icon.png" alt="">
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Question Builder</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="rounded-pill bg-primary text-white d-flex justify-content-center align-items-center">
                <h2 class="m-0">Questions</h2>
            </div>
        </div>
    </div>
</div>

<!-- Navbar End  -->


<div class="container w-75 m-auto mt-3">
    <form (ngSubmit)="onSubmit2()">
        <div class="row mb-3">
            <label for="subject" class="col-sm-2 col-form-label">Subject</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="subject" name="subject" id="subject"
                    placeholder="Subject">
            </div>
        </div>
        <div class="row mb-3">
            <label for="desc" class="col-sm-2 col-form-label">Full Marks</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="desc" name="desc" id="desc"
                    placeholder="Full marks">
            </div>
        </div>

        <form #questionForm="ngForm" (ngSubmit)="onSubmit(); questionForm.reset()">
            <div class="row mb-3">
                <label for="question" class="col-sm-2 col-form-label">Question</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="question" name="question" id="question"
                        placeholder="Enter question">
                </div>

                <div class="col-sm-10 mt-3 w-50 m-auto">

                    <div *ngFor="let option of optionsArray.controls; last as isLast; index as idx">
                        <input type="text" class="form-control mb-2" [formControl]="option" placeholder="add option">

                        <button class="btn btn-danger rounded btn-sm mt-2 me-2" (click)="removeInputControl(idx)"
                            *ngIf="optionsArray.length > 1">-</button>

                        <button class="btn btn-success rounded btn-sm mt-2" *ngIf="isLast"
                            (click)="addInputControl()">+</button>


                    </div>


                </div>
            </div>


            <button type="submit" class="btn btn-info mb-5">ADD QUESTION</button> <br>
        </form>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>