<!-- Navbar Start  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex border-bottom border-2">
    <div class="container justify-content-end">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/angular-logo.png" alt="" width="30" height="30"
                class="d-inline-block align-text-top">
            Question Builder
        </a>
    </div>
</nav>

<div class="container mt-3 mb-3">
    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <img width="15" height="15" src="../../../assets/images/menu-icon.png" alt="">
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Question Builder</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="rounded-pill bg-primary text-white d-flex justify-content-center align-items-center">
                <h2 class="m-0">Questions</h2>
            </div>
        </div>
    </div>
</div>

<!-- Navbar End  -->



<div class="container mt-3">
    <div class="header d-flex flex-column align-items-center">
        <h3 class="text-uppercase"> <u>Subject</u>: {{questionPaper.subject}}</h3>
        <p class="text-uppercase"> <u>Full Marks</u>: {{questionPaper.desc}}</p>
    </div>

    <div class=" content mb-5 mt-5 border border-2 rounded p-3"
        *ngFor="let question of questionPaper.questions; index as idx">

        <h3>{{idx+1}}) {{question.question}}?</h3>
        <ul class="list-group" *ngFor="let option of question.options">
            <li class="list-group-item"><input class="form-check-input me-2" type="radio" name="flexRadioDefault"
                    id="flexRadioDefault1">{{option}}</li>
        </ul>

    </div>
</div>